@import "src/assets/styles/colors";

.skills-and-tech {
  min-height: 40vh;
  background-color: $color-dark;
}

.accordion-button:not(.collapsed) {
  background-color: $color-primary;
  color: white;
}
